<h1>My Card</h1>
<p>card works!</p>
<button>Olá Mundo!</button>
<ul>
  <li *ngFor="let produto of produtos; let i = index" (click)="remover(i)">
    {{ i }}:
    {{ produto }}
  </li>

  <button (click)="adicionar()">Adicionar</button>
</ul>

<div [ngSwitch]="menuType">

  <div *ngSwitchDefault>
    <li>Editar perfil</li>
    <li>Adicionar cartão</li>
  </div>

  <div *ngSwitchCase="'user'">
    <li>Editar perfil</li>
    <li>Adicionar cartão</li>
  </div>

  <div *ngSwitchCase="'admin'">
    <li>Editar perfil</li>
    <li>Adicionar cartão</li>
    <li>Gerenciar usuarios</li>
  </div>

  <div *ngSwitchCase="'superuser'">
    <li>Editar perfil</li>
    <li>Adicionar cartão</li>
    <li>Gerenciar usuarios</li>
    <li>Gerenciar admins</li>
  </div>
</div>
